{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{dish1.name}}</span></h2>
								<p> {{dish1.description}} for just ${{dish1.price}} </p>
								<a href=" {{path('app_menu')}} " class="site-btn"> Menu Card </a>
								<a href="#" class="site-btn sb-c2">Order Now!</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img img-fluid">
								<img src="{{asset('img/' ~ dish1.image)}}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{dish2.name}}</span></h2>
								<p> {{dish2.description}} for just ${{dish2.price}} </p>
								<a href=" {{path('app_menu')}} " class="site-btn"> Menu Card </a>
								<a href=" {{path('app_order')}} " class="site-btn sb-c2">Order Now!</a>
								
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img img-fluid">
								<img src="{{asset('img/' ~ dish2.image)}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

{% endblock %}
