{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}

	{% set suma = 0 %}

	<br>
	<div class="container">
		<h2>
			Your Order</h2>
		<br>
		{% if orders %}
			<table class='table table-striped'>

				<thead>
					<tr>
						{# <td>Order Number</td> #}
						<td>Name</td>
						<td>Price</td>
						<td>Status</td>
						<td>Delete</td>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
						{% set suma = suma + order.price %}
						<tr>
							{# <td>
																																																											{{order.oNumber}}
																																																										</td> #}
							<td>
								{{order.name}}

							</td>
							<td>
								{{order.price}}
								u$s
							</td>
							{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
								<td>
									{{order.status}}
								</td>
							{% endif %}
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<td>
									<div class="dropdown show">
										<a class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											{{order.status}}
										</a>
										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" href=" {{path('app_status',{id: order.id, status: 'open'})}} ">Open</a>
											</li>
											<li>
												<a class="dropdown-item" href=" {{path('app_status',{id: order.id, status: 'ready'})}} ">Ready</a>
											</li>
											<li>
												<a class="dropdown-item" href=" {{path('app_status',{id: order.id, status: 'closed'})}} ">Closed</a>
											</li>
										</ul>
									</div>
								</td>
							{% endif %}
							{% if order.status == 'open' %}
								<td>
									<a class="btn btn-outline-danger btn-sm" href=" {{path('app_order_delete',{id: order.id})}} ">X</a>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
					<td></td>
					<td>
						{{suma}}
						u$s
					</td>
					<td></td>
				</tbody>

			</table>
		{% else %}
			<h3>
				There are not any order, please
				<a href=" {{path('app_menu')}} ">click here</a>
				and go to menu and add some dish
			</h3>
		{% endif %}
	</div>


{% endblock %}
